{
  // useBuiltIns polyfill的另一种方法
  // "presets": [["@babel/preset-env", { "debug": true, "useBuiltIns": "entry" }]],
  // 按需编译
  // "presets": [["@babel/preset-env", { "debug": true, "useBuiltIns": "usage" }]],
  "presets": [["@babel/preset-env", { "debug": true }]],
  "plugins": [
    // 预设中已经有了
    // ["@babel/plugin-transform-arrow-functions"],
    // ["@babel/plugin-transform-classes"],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
