{
  // useBuiltIns polyfill的另一种方法
  "presets": [["@babel/preset-env", { "debug": true, "useBuiltIns": "entry" }]],
  "plugins": [
    // 预设中已经有了
    // ["@babel/plugin-transform-arrow-functions"],
    // ["@babel/plugin-transform-classes"],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
